

#header-nav {
	background: #999999;
	border:1px solid black;
	border-right:none;
	border-left: none;
}
.navbar-brand {
	height: auto;
}
.navbar-brand h1 a {
	color:black;
	text-decoration: none;
}
.llc-navbar-button {
	margin-top: 40px;
}
.navbar-default .navbar-toggle  {
	background-color: #999;
	border-color:#dcdcdc;
}
.navbar-default .navbar-toggle .icon-bar  {
	background-color:#dcdcdc;
}
 .navbar-default .collapsed {
	background-color:#999;
	border-color:#000;
}
 .navbar-default .collapsed .icon-bar {
	background-color:#000;
}


 .navbar-default .navbar-toggle:focus  {
	background-color: #999;
	border-color:#dcdcdc;
}
 .navbar-default .collapsed:focus {
	background-color:#999;
	border-color:#000;
}
.navbar-default .navbar-toggle:hover{
	background: #000;
}
.navbar-default .collapsed:hover {
	background: #dcdcdc;
}

#collapsable-nav {
	background: #fff;
}
#collapsable-nav li {
	border-bottom: black 1px solid;
	margin:0 3px;
}
#collapsable-nav li:last-child {
	border:none;
}
#collapsable-nav li  a {
	color:#000;
}
.navbar-nav {
	margin-top:0;
	margin-bottom: 0;
	border-right:1px solid #000;
	border-left:1px solid #000;
	background: #eee;
}
.navbar-default .navbar-collapse {
	border-color:#000;
}

.llc-wrapper-hight {
	min-height: 2000px;
}
.wrapper-menu-item {
	
}
.content-menu-item {
	position: relative;
	padding:1px 10px 30px;
	background: #999;

}
.btn-back-to-top {
	position: absolute;
	bottom: 10px;
	left:10px;
	text-decoration: underline;
}
.btn-back-to-top:hover {
	text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#sushi {
		margin-top:25px;
	}
}
@media only screen and (max-width: 767px) {
	.wrapper-menu-item {
		margin-top:15px;
		margin-bottom:15px;
	}
}